.App {
  text-align: center;
}

.one {
  height: 100px;
  width: 100px;
  background-color: red;
}

.two {
  height: 100px;
  width: 100px;
  background-color: blue;
}

.three {
  height: 100px;
  width: 100px;
  background-color: green;
}